In [1]:
import pandas as pd

In [4]:
df=pd.read_csv('/home/sikshana/sw/leaves/leaveapp/text.csv')

In [5]:
df.head()

,user,employee_name,role,rollover,region,lm_start_date,approver,approver_id,Gender
0,archanas,Acchu,1,55,South Karnataka,2021-06-01,1,pooja,Male
1,mahesh,Mahi,0,10,Gujarat,2021-07-01,1,archanas,Female
2,pooja,Poo,1,22,Maharastra,2021-08-01,1,mahesh,Male

In [7]:
dfr=pd.read_csv('/home/sikshana/sw/leaves/leaveapp/rec.csv')